* {
  margin: 0;
  padding: 0;
}

h1 {
  color: aliceblue;
  text-align: center;
}
.ok { background-color: black;
  height: 100vh;
}
Form {
  display: flex;
  flex-direction: column;
  align-items: center;

}
